.emp-card {
    display: flex;
    justify-content: center; align-items: center;
    cursor: pointer;

    width: 250px;
    margin: 8px;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.295));
    transition: transform 0.2s;
    
}
.emp-card:hover {
    transform: translateY(-2px);
}
.emp-card-header {
    display: flex;
    padding: 13px;
    align-items: center;
    text-align: center;
    background-color:var(--blue);
    color: white;
    border-radius: 6px;
    height: 100%;
}
.emp-picture {
    display: flex;
    justify-content: center; align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid var(--off-white);
    border-radius: 4px;
    background-color: var(--blue-light);
    margin-right: 13px;
}
.emp-picture i {
    margin: 0 auto;
    font-size: 3em;
}
.emp-info-header {
    margin: 0 8px;
}
.emp-card-header strong {
    font-family: 'Alumni Sans Pinstripe';
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
    
}
.emp-card h6 {
    margin: 0;
    margin-top: 4px;
    font-size: .8em;
}
.emp-contact-info {
    font-size: .85em;
    padding: 8px 13px 3px 13px;
}
.emp-contact-info strong {
    margin-left: -3px !important;
    margin-bottom: 3px !important;
}
.emp-contact-info p {
    display: flex;
    flex-direction: column;
    margin-left: 3px !important;
    margin-bottom: 8px !important;
}