.emp-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    background-color: rgb(231, 227, 227);
    margin: 8px;
    overflow: hidden;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.295));
    
}
.emp-card-header {
    display: flex;

    align-items: center;
    text-align: center;
    background-color:var(--blue);
    color: white;
    width: 100%;
    height: 100%;
}
.emp-picture {
    display: flex;
    justify-content: center; align-items: center;
    width: 46px; height: 46px;
    border: 1px solid var(--off-white);
    border-radius: 4px;
    background-color: var(--blue-light);
    margin: 8px 0px 8px 13px;
}
.emp-picture i {
    margin: 0 auto;
}
.emp-info-header {
    padding: 8px 18px;
    margin: 0 auto;
}
.emp-card-header strong {
    font-family: 'Alumni Sans Pinstripe';
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
}
.emp-card h6 {
    margin: 4px 0 0 0;
}
.emp-contact-info {
    font-size: .8em;
    padding: 8px 13px;
}